sass:
	.container
		width: 100% !important
		margin: 0 !important
		padding: 0 !important
	#project_form
		.fieldset
			.inputs
				width: 600px
				margin-top: 20px
				margin-left: auto
				margin-right: auto
				padding-right: 30px
				border-right: 1px dotted
				.block
					overflow: hidden
					label
						padding-top: 5px
						padding-left: 10px
						font-weight: bold
						display: inline-block
					input
						float: right
						width: 400px
						padding: 10px
					select
						float: right
						width: 410px
					textarea
						float: right
						width: 410px
					margin: 10px 10px 10px 10px
					padding: 5px 5px 10px 5px
					background: #dddddd
					border: 0 none
					border-radius: 5px
			.title
				padding-top: 20px
				padding-bottom: 20px
				background: #dddddd
				text-align: center
				h2
					font-size: 28px !important
					border: none
					padding-top: 10px
					padding-bottom: 10px
				h3
					font-size: 18px !important
					border: none
					padding-top: 10px
					padding-bottom: 10px
	.custom-select
		margin-bottom: -2em
		z-index: 2
		opacity: 0
		-webkit-appearance: none
	.custom-select-label
		padding-left: 0.5em
		background: #ddd
		margin: 0
		-webkit-box-shadow: 0px 1px 5px rgba(0,0,0,0.4)
		box-shadow: 0px 1px 5px rgba(0,0,0,0.4)
	


		
#page_content
  .container
  	.bootstrap-form
	    = form_for @project, html: { id: 'project_form' } do |f|
	        ul#progressbar
	          li.first Basics
	          li.second Rewards
	          li.third Story
	          li.fourth Account
	          li.fifth Review
	        .fieldset
				.title
				  h2#h2 Meet your new project
				  h3#h3 Start by giving it a name, a pic, and other important details.
				.inputs.first
					  .block
					      = f.label :permalink, t('formtastic.labels.project.permalink')
					      = f.text_field :permalink
					  .block
					      = f.label :name, t('formtastic.labels.project.name')
					      = f.text_field :name
					  .block
					      = f.label :headline, t('formtastic.labels.project.headline')
					      = f.text_field :headline, { maxlength: 140 }
					  .block
					      = f.label :category, t('.category')
					      = f.select :category_id, Category.array
					  .block
					      = f.label :goal, t('formtastic.labels.project.goal')
					      = f.text_field :goal
					  .block
						  = f.label :online_days, t('formtastic.labels.project.expires_at')
						  = f.text_field :online_days
				.inputs.second style="display:none;"
					  h2 none
				.inputs.third style="display:none;"
					  .block
					      = f.label :video_url, t('formtastic.labels.project.video')
					      = f.text_field :video_url, data: { path: video_projects_path }
					  .block
					      = f.label :about, t('formtastic.labels.project.about')
					      = f.text_area :about
	.clearfix
javascript:
	$(window).load(function(){
		$("li.first").click(function(){
			$('.inputs, #h2, #h3').hide();
			$('#h2').text('Meet your new project');
			$('#h3').text('Start by giving it a name, a pic, and other important details.')
			$('.inputs.first, #h2, #h3').fadeIn(400);
		})
		$("li.second").click(function(){
			$('.inputs, #h2, #h3').hide();
			$('#h2').text('Every project needs great rewards.');
			$('#h3').text('Be creative and price them fairly. Explore other projects for inspiration!')
			$('.inputs.second, #h2, #h3').fadeIn(400);
		})
		$("li.third").click(function(){
			$('.inputs, #h2, #h3').hide();
			$('#h2').text('It’s not just a project, it’s a story.');
			$('#h3').text('Tell it with a video. It doesn’t have to be fancy, it just has to be you.')
			$('.inputs.third, #h2, #h3').fadeIn(400);
		})
	});