sass:
	$green-one: #00B22D
	$blue-one: #3F4752
	$blue-two: #79808B
	.container
		width: 100% !important
		margin: 0 !important
		padding: 0 !important
	#project_form
		.fieldset
			.panel
				text-align: center
				.inputs
					text-align: left
					margin: 0 auto
					display: inline-block
					width: 600px
					margin-top: 20px
					box-shadow: 0 1px 4px darken(lightgray, 10%)
					border-radius: 5px
					.block
						overflow: hidden
						label
							padding-top: 5px
							padding-left: 10px
							font-weight: bold
							display: inline-block
						input
							float: right
							width: 400px
							padding: 10px
						select
							float: right
							width: 410px
						textarea
							float: right
							width: 410px
						.hint
							float: right
							width: 420px
							padding: 0px
							margin: 0px
							color: #79808B
						.review
							margin: 10px
							font-weight: bold
							color: rgba(0, 0, 0, 0.8)
							ol
								margin-left: 10px
								margin-top: 0px
								li
									margin: 10px 0px
						.guideline_header
							font-weight: bold
							color: rgba(0, 0, 0, 0.8)
							font-size: 20px
							margin: 15px 10px
						.guideline_content
							color: rgba(0,0,0,0.8)
							font-size: 15px
							margin: 5px 10px
						.guideline_form
							margin: 10px
							input
								float: left
								width: auto
							label
								padding-top: 0px !important
						.stripe_info
							display: inline
							margin-left: 100px
							a
								img
									vertical-align: top
									margin-bottom: 10px
									margin-top: 5px
						.refresh
						    margin-left: 10px
						    margin-top: 18px
						    font-size: 20px
						    padding: 5px
						   	a
							    text-decoration: none
							    color: rgb(255, 255, 255)
						margin: 10px 10px 10px 10px
						padding: 5px 5px 10px 5px
						background: #dddddd
						border: 0 none
						border-radius: 5px
					.reward
						margin-bottom: 15px
						margin-top: 10px
						padding-bottom: 10px
						position: relative
						h2
							font-size: 20px
							font-weight: bold
							margin: 15px 10px 15px 10px
							display: inline
						.remove_nested_fields
							float: right
							margin-right: 10px
							margin-top: 10px
						.border
							padding-top: 35px
							margin: 0 auto
							width: 70%
							border-bottom: 1px dotted
					.add_nested_fields
						margin: 5px auto 25px auto
						left: 0
						right: 0
						display: block
						width: 80px

				.template
					text-align: left
					display: inline-block
					position: absolute
					padding-left: 35px
					margin: 32px 40px 0px 20px
					.project-box
						overflow: hidden
						height: 400px
						box-shadow: 0 1px 4px darken(lightgray, 10%)
						position: relative
						margin: 0 20px 1.5em 0
						float: left
						width: 220px
						font-family: Helvetica Neue, Helvetica, Arial, sans-serif
						&:nth-child(3n+0)
							margin: 0 0 1.5em 0

						.status-flag
							position: absolute
						a
							text-decoration: none
						.wrapper
							position: relative
							.templateimage
								opacity: 1
								&:hover
								opacity: .9
								> .title a
									text-decoration: underline !important
						    .category
								height: 15px
								background-color: #dddddd
								width: 70%
								color: black
								text-align: center
								font-size: 12px
								position: absolute
								bottom: -3px
								left: 0
								right: 0
								padding-top: 4px
								margin-left: auto
								margin-right: auto
								margin-bottom: 3px
								border-top-left-radius: 2px
								border-top-right-radius: 2px
								color: $blue-two

						.name
							margin: .4em 0
							line-height: 1.1em
							a
								color: $blue-one
								font-weight: bold
								font-size: 0.95em
								&:hover
									text-decoration: underline !important

						.padding
							padding: .2em .8em

						.headline
							font-size: .8em
							margin: .8em 0 .4em 0
							line-height: 1.4em
							font-weight: 400
							height: 70px
							color: #79808b
							a
								color: $blue-two

						.status
							border-top: 1px solid rgba(0, 0, 0, 0.1)
							bottom: 0px
							position: absolute
							width: 100%
							background: #F8F8F8
							color: $blue-two
							span
								color: $blue-one

						.progress-bar
							#progress_wrapper, #progress
								height: .6em
								border-radius: 6px
								box-shadow: inset 0 0 4px lighten(gray, 15%)
							#progress
								background: $green-one

						.time-remaining, .money-raised, .percentage
							float: left
							padding: 1em 0
							text-transform: uppercase
							font-size: .6em
							color: $blue-two
							span
								display: block
								font-weight: bold
								font-size: 1.4em
								text-transform: none
								margin-bottom: .2em

						.time-remaining
							margin-left: 25px

						.money-raised
							float: right
							margin-right: 2%

			.title
				padding-top: 20px
				padding-bottom: 20px
				background: #dddddd
				text-align: center
				h2
					font-size: 28px !important
					border: none
					padding-top: 10px
					padding-bottom: 10px
				h3
					font-size: 18px !important
					border: none
					padding-top: 10px
					padding-bottom: 10px
		ul#progressbar
			padding: 10px 10px 10px 10px
			background: black
			width: auto
			z-index: 100
			li
				background: #00b22d
				border-radius: 3px
				margin: 20px 5px 5px 5px
				padding: 5px 5px 5px 5px
				display: inline
				color: white
				cursor: pointer
		ul#navbar
		    display: inline-block
		    top: 0px
		    vertical-align: top
		    margin-top: 30px
		    li
		    	text-align: left
		    	background: #dddddd
			    padding: 5px 15px 5px 5px
			    margin-bottom: 20px
			    border-top-left-radius: 5px
			    border-bottom-left-radius: 5px
			    color: rgba(0, 0, 0, 0.8)
		    	opacity: 1
			    -moz-transition: all 0.2s ease-in
			    -o-transition: all 0.2s ease-in
			    -webkit-transition: all 0.2s ease-in
			    -ms-transition: all 0.2s ease-in
			    transition: all 0.2s ease-in
			    cursor: pointer
			    &:hover
			    	opacity: 0.6
				    -moz-transition: all 0.2s ease-out
				    -o-transition: all 0.2s ease-out
				    -webkit-transition: all 0.2s ease-out
				    -ms-transition: all 0.2s ease-out
				    transition: all 0.2s ease-out
	.input_error
		border-left: 5px solid rgb(204, 21, 41)
	.field_with_errors
		display: inline



		
#page_content
  .container
  	.bootstrap-form
	    = nested_form_for @project, html: { id: 'project_form' } do |f|
	    	/#bodyspacer style="display:none; height: 36px; width: 100%;"
	        /ul#progressbar
	          li.zero Guidelines
	          li.first Basics
	          li.second Rewards
	          li.third Story
	          li.fourth Account
	          li.fifth Review
	        .fieldset
				.title
				  h2#h2=t('.zeroheader')
				  h3#h3=t('.zerosubheader')
				.panel
			        ul#navbar
			          li.zero Guidelines
			          li.first Basics
			          li.second Rewards
			          li.third Story
			          li.fourth Account
			          li.fifth Review
			        .inputs.zero
			        	  .block
		        	  		.guideline_header= t('.guidelines.firstheader')
		        	  		.guideline_content= t('.guidelines.firstcontent')
		        	  		.guideline_header= t('.guidelines.secondheader')
		        	  		.guideline_content= t('.guidelines.secondcontent')
		        	  		.guideline_header= t('.guidelines.thirdheader')
		        	  		.guideline_content= t('.guidelines.thirdcontent')
			        	  	.guideline_form= form_tag do
			        	  		= check_box_tag(:accept)
			        	  		= label_tag(:accept, "I accept terms")
					.inputs.first style='display: none'
						  .block
						      = f.label :permalink, t('formtastic.labels.project.permalink')
				              .input-prepend.permalink style="display: inline; float:right;"
				                span.add-on style="padding: 10px; margin-top: 0px" = "#{::Configuration[:base_url]}/".gsub!("http://","")
						      	= f.text_field :permalink, pattern: '^(\w|-)+$', style: "width:117px;"
							  .hint= "#{t('.permalink_hint')} #{t('.permalink_important')}"
						  .block
						      = f.label :name, t('formtastic.labels.project.name')
						      = f.text_field :name, { maxlength: 50, id: 'name-input' }
							  .hint= "#{t('formtastic.hints.project.name')} #{t('.name_important')}"
						  .block
						      = f.label :headline, t('formtastic.labels.project.headline')
						      = f.text_field :headline, { maxlength: 140, id: 'headline-input'}
							  .hint= "#{t('formtastic.hints.project.headline')} #{t('.headline_important')}"
						  .block
						      = f.label :category, t('.category')
						      = f.select :category_id, Category.array
						  .block
						      = f.label :goal, t('formtastic.labels.project.goal')
						      = f.text_field :goal, id: "goal-input"
							  .hint= "#{t('formtastic.hints.project.goal')} #{t('.important_html')}"
						  .block
							  = f.label :online_days, t('formtastic.labels.project.expires_at')
							  = f.text_field :online_days, id: 'days-input'
							  .hint= "#{t('formtastic.hints.project.online_days')} #{t('.online_days_important')}"
					.inputs.second style="display:none"
						  .bootstrap-twitter
							  = f.fields_for :rewards do |rewards|
							  	.reward
							  		h2 Reward
							  		= link_to "javascript:void(0)", class: 'btn btn-danger remove_nested_fields', data: {"association" => "rewards" } do
								  			i.icon-trash.icon-white
								  	.block
								  		= rewards.label :minimum_value, t('activerecord.attributes.reward.minimum_value')
								  	 	= rewards.text_field :minimum_value
								  	 	.hint= "#{t('formtastic.hints.reward.minimum_value')}"
								  	.block
								  	 	= rewards.label :description, t('activerecord.attributes.reward.description')
								  	 	= rewards.text_field :description
								  	 	.hint= "#{t('formtastic.hints.reward.description')}"
								  	.block
								  	 	= rewards.label :days_to_delivery, t('activerecord.attributes.reward.days_to_delivery')
								  	 	= rewards.text_field :days_to_delivery
								  	 	.hint= "#{t('formtastic.hints.reward.days_to_delivery')}"
								  	.block
								  	 	= rewards.label :maximum_backers, t('activerecord.attributes.reward.maximum_backers')
								  	 	= rewards.text_field :maximum_backers
								  	 	.hint= "#{t('formtastic.hints.reward.maximum_backers')}"
									.border
							  = f.link_to_add "Add reward", :rewards, class: 'btn btn-success'
					.inputs.third style="display:none;"
						  .block
						  	  = f.label :uploaded_image, t('formtastic.labels.project.uploaded_image')
						  	  = f.file_field :uploaded_image, as: :file, onchange: "getImage(this);"
						  	  = f.hidden_field :uploaded_image_cache
						  	  .hint= "#{t('formtastic.hints.project.uploaded_image')}".html_safe
						  .block
						      = f.label :video_url, t('formtastic.labels.project.video')
						      = f.text_field :video_url, data: { path: video_projects_path }, id: 'video-input'
							  .hint= "#{t('formtastic.hints.project.video_url')} #{t('.video_important')}".html_safe
						  .block
						      = f.label :about, t('formtastic.labels.project.about')
						      = f.text_area :about
							  .hint= "#{t('formtastic.hints.project.about')} #{t('.about_important')}"
					.inputs.fourth style="display:none;"
						  .block
						      = f.label :govid, t('formtastic.labels.project.identification')
						      = f.file_field :govid, as: :file
						      = f.hidden_field :govid_cache
							  .hint= "#{t('formtastic.hints.project.identification')}".html_safe
						  .block
						  	  = f.label :currency, t('formtastic.labels.project.currency')
 							  = f.select :currency, options_for_select((Project.currencies).map {|cur| cur.upcase })
 							  .hint= "#{t('formtastic.hints.project.currency')}"
						  .block
						      = f.label :paypal, t('formtastic.labels.project.stripe')
						      .stripe_info
								  - if current_user.stripe_key.blank?
								  	= link_to( image_tag('catarse_stripe/auth/stripe_blue.png'), '/payment/stripe/auth', target: "_blank")
								  - else
								  	= t('formtastic.hints.project.stripe_activated')
							  .hint= "#{t('formtastic.hints.project.stripe')}"
							  - if current_user.stripe_key.blank?
							      .bootstrap-twitter
							      	.refresh.btn.btn-success
							      		= link_to '↻', stripe_info_path, remote: true
						  .dummy style="height: 60px"
					.inputs.fifth style="display:none;"
						  .block
						  	  .review
						  	  	= "#{t('formtastic.hints.project.review')}".html_safe
						  	  = f.label :accepted_terms, t('accept_terms_html', link: link_to(t('terms'), t('footer.links.terms_link'), target: :_blank)), class: 'inline'
						  	  = f.check_box :accepted_terms, style: "float: none; display: inline; margin: 5px; width: auto;"
			                  .bootstrap-twitter
			                    .send
						  	      = f.button t('.submit'), id: 'project_submit', class: 'btn btn-success btn_send', style: "margin: 5px"
					.template
						.project-box[itemscope itemtype="http://schema.org/CreativeWork" class=(custom_class if defined?(custom_class))]
						  meta[itemprop="dateCreated"]
						  .wrapper
						  	.templateimage style="height: 140px; width: 220px;"
						  		- if @project.uploaded_image.path
						  			= image_tag @project.display_image.gsub!("http://s3.tribaltears.com",""), class: 'thumbnail', style: "height: 140px; width: 220px"
						  		- else
						  			img.thumbnail
						  	- if @project.category
						  		.category = @project.category
						  	- else
						  		.category = "Country"
						  .padding
						  	- if @project.name
						  		.name = @project.name
						  	- else
						    	.name    = 'Name'
						    - if @project.headline
						    	.headline = @project.headline
						    - else
						    	.headline  = 'Subtitle'
						  .status
						    .padding
						      .progress-bar = @project.progress_bar(dummy=true)
						      .percentage = t('channels.projects.progress_html', percent: '0')
						      .time-remaining
						      	= t('channels.projects.time_remaining_html', count: "#{@project.online_days ? @project.online_days : 0}", unit: 'days')
						      .money-raised
						      	= t('channels.projects.pledged_html', value: number_to_currency(0, precision: 0))
	.clearfix
javascript:
	$(window).load(function(){
		$('.remove_nested_fields:first').hide();
		var index = index || 0;
		if (localStorage.getItem('guidelinesaccepted') == "true") {
			$('input#accept').prop('checked', true);
				guidelines_accepted = true;
		}
		$(".guideline_form").click(function(){
			if($('input#accept').is(':checked')) {
				guidelines_accepted = true;
				localStorage.setItem('guidelinesaccepted',true)
			} else {
				guidelines_accepted = false;
				localStorage.setItem('guidelinesaccepted',false)
			}
		});
		if ($('.inputs.first').find($('.field_with_errors')).length > 0) {
			$('li.first').addClass('input_error');
		}
		if ($('.inputs.second').find($('.field_with_errors')).length > 0) {
			$('li.second').addClass('input_error');
		}
		if ($('.inputs.second').find($('.block')).length == 0) {
			$('.inputs.second').css('min-height','420px');
			$('li.second').addClass('input_error');
		}
		if ($('.inputs.third').find($('.field_with_errors')).length > 0) {
			$('li.third').addClass('input_error');
		}
		if ($('.inputs.fourth').find($('.field_with_errors')).length > 0) {
			$('li.fourth').addClass('input_error');
		}
		if ($('.inputs.fifth').find($('.field_with_errors')).length > 0) {
			$('li.fifth').addClass('input_error');
		}
		$("li.zero").click(function(){
		$("body, html").animate( {scrollTop: 130}, 'fast');
			if(index != 0) {
				$('.inputs, #h2, #h3').hide();
				$('#h2').text("#{t('.zeroheader')}");
				$('#h3').text("#{t('.zerosubheader')}")
				$('.inputs.zero, #h2, #h3').fadeIn(400);
				index = 0;
			}
		});
		$("li.first").click(function(){
		$("body, html").animate( {scrollTop: 130}, 'fast');
			if(index != 1 && guidelines_accepted == true) {
				$('.inputs, #h2, #h3').hide();
				$('#h2').text("#{t('.firstheader')}");
				$('#h3').text("#{t('.firstsubheader')}")
				$('.inputs.first, #h2, #h3').fadeIn(400);
				index = 1;
			}
		});
		$("li.second").click(function(){
			$("body, html").animate( {scrollTop: 130}, 'fast');
			if(index != 2 && guidelines_accepted == true) {
				$('.inputs, #h2, #h3').hide();
				$('#h2').text("#{t('.secondheader')}");
				$('#h3').text("#{t('.secondsubheader')}")
				$('.inputs.second, #h2, #h3').fadeIn(400);
				index = 2;
			}
		});
		$("li.third").click(function(){
			$("body, html").animate( {scrollTop: 130}, 'fast');
			if(index !=3 && guidelines_accepted == true) {
				$('.inputs, #h2, #h3').hide();
				$('#h2').text("#{t('.thirdheader')}");
				$('#h3').text("#{t('.thirdsubheader')}")
				$('.inputs.third, #h2, #h3').fadeIn(400);
				index = 3;
			}
		});
		$("li.fourth").click(function(){
			$("body, html").animate( {scrollTop: 130}, 'fast');
			if(index !=4 && guidelines_accepted == true) {
				$('.inputs, #h2, #h3').hide();
				$('#h2').text("#{t('.fourthheader')}");
				$('#h3').text("#{t('.fourthsubheader')}")
				$('.inputs.fourth, #h2, #h3').fadeIn(400);
				index = 4;
			}
		});
		$("li.fifth").click(function(){
			$("body, html").animate( {scrollTop: 130}, 'fast');
			if(index !=5 && guidelines_accepted == true) {
				$('.inputs, #h2, #h3').hide();
				$('#h2').text("#{t('.fifthheader')}");
				$('#h3').text("#{t('.fifthsubheader')}")
				$('.inputs.fifth, #h2, #h3').fadeIn(400);
				index = 5;
			}
		});
		$("#name-input").keyup(function(){
			$('.name').text($("#name-input").val());
			if (!$("#name-input").val()) {
				$('.name').text('Name');
			}
		});
		$("#headline-input").keyup(function(){
			$('.headline').text($("#headline-input").val());
			if (!$("#headline-input").val()) {
				$('.headline').text('Subtitle');
			}
		});
		$("#days-input").keyup(function(){
			$('.time-remaining').children('span').text($("#days-input").val() + ' days');
			if (!$("#days-input").val()) {
				$('.time-remaining').children('span').text('0' + ' days');
			}
		});
		$("#project_category_id").change(function(){
			$('.category').text($("#project_category_id").find('option:selected').text());
		});
		$('#days-input, #goal-input').on('keypress', function(ev) {
		    var keyCode = window.event ? ev.keyCode : ev.which;
		    if (keyCode < 48 || keyCode > 57) {
		        if (keyCode != 0 && keyCode != 8 && keyCode != 13 && !ev.ctrlKey) {
		            ev.preventDefault();
		        }
		    }
		});
		/*
		$(window).scroll(function () {
		if($(window).scrollTop() >= 86) {
		$('#bodyspacer').css('display','block');
		$('ul#progressbar').css('top','0');
		$('ul#progressbar').css('position','fixed');
		$('ul#progressbar').css('width','100%');
		} else {
		$('#bodyspacer').css('display','none');
		$('ul#progressbar').css('top','auto');
		$('ul#progressbar').css('position','static');
		$('ul#progressbar').css('width','auto');		
		}
		});
		*/
	});
	function getImage(input) {
	        if (input.files && input.files[0]) {
	            var reader = new FileReader();

	            reader.onload = function (e) {
	                $('img.thumbnail')
	                    .attr('src', e.target.result)
	                    .width(220)
	                    .height(140);
	            };

	            reader.readAsDataURL(input.files[0]);
	        }
	    }