sass:
	html, .landing_page
	  background: white
	.border
	  font-size: .9em
	  width: 175px
	  min-height: 30px
	  background: white
	  border: 1px solid #dddddd
	  border-bottom: 0
	  position: fixed
	  bottom: 0px
	  right: 0
	  left: 0
	  z-index: 400
	  border-top-right-radius: 4px
	  border-top-left-radius: 4px
	  border-bottom-right-radius: 0px
	  border-bottom-left-radius: 0px
		top: 50%
	  left: 50%
	  margin-top: -50px
	  margin-left: -100px
	.landing_image
	  width: 547px
	  margin: 0 auto
	.wrapper
	  width: 270px
	  margin: 0 auto
	  display: block
	  .newsletter
	    width: auto
	    margin: 0 auto
	    padding: 1px
	    margin-top: 60px
	    border: 1px solid #ddd
	    border-radius: 3px
	    .newsletter-input
	      border: none
	      font-size: 13px
	      width: 160px
	      height: 32px
	      line-height: 32px
	      font-family: Helvetica Neue, Helvetica, Arial, sans-serif
	      text-indent: 5px
	      color: #79808E
	    .newsletter-submit
	      float: right
	      border: none
	      background: #3C9DFF url(/assets/catarse_bootstrap/catarse-assets.png) no-repeat -152px -72px
	      height: 34px
	      width: 34px
	      text-align: center
	      font-size: 18px
	      border-radius: 3px
	      text-indent: -9999px
	      &:hover
	        background: rgba(#3C9DFF, 0.8) url(/assets/catarse_bootstrap/catarse-assets.png) no-repeat -152px -72px
.landing_page
	.landing_image = image_tag("jampoff_white.png")
	.wrapper
		h2= "Subscribe to our newsletter"
		.newsletter
			= render 'layouts/newsletter'
	.border
		h2.text-center
			= link_to "Login", new_user_session_path