[data-namespace="null"][data-controller="projects"][data-action="show"]
*
	font-family: Helvetica Neue, Helvetica, Arial, sans-
.information
	border-bottom: 1px solid #e9e9ec
	.video
		width: 100%
	.project_text
		width: 80%
		margin: 0 auto
		#name
			font-weight: bold
			text-align: center
			margin-bottom: 5px
		#by
			text-align: center
			margin-bottom: 20px
			font-size: 12px
			a
				text-decoration: none
				font-weight: bold
				color: #000
		#subtitle
			text-align: center
			font-size: 15px
			margin-bottom: 10px
.wrapper
	text-align: center
	border-bottom: 1px solid #e9e9ec
	line-height: 0
	margin-bottom: 20px
	.status
		display: inline-block
		text-align: left
		line-height: normal
		.time-remaining, .money-raised, .progress-percent
			border-right: 1px solid #e9e9ec
			float: left
			padding: 1em 0
			text-transform: uppercase
			font-size: .6em
			color: $blue-two
			padding-right: 20px
			margin-left: 20px
			&:last-of-type
				border-right: none
			span
				color: #000
				display: block
				font-weight: bold
				font-size: 1.4em
				text-transform: none
				margin-bottom: .2em
.condition
	width: 90%
	margin: 0 auto
	margin-bottom: 10px
	p
		color: $blue-two
		font-size: 12px
.links_box, .rewards_box
	border: 1px solid #e9e9ec
	width: 90%
	margin: 0 auto 10px
	border-radius: 5px
	text-decoration: none
	a
		color: #000
		text-decoration: none
	.user
		display: block
		padding: 10px 5px 20px 10px
		border-bottom: 1px solid #e9e9ec
		img
			width: 50px
			height: 50px
			margin-right: 5px
			float: left
		#by
			vertical-align: top
			font-size: 14px
			span
				display: block
				font-weight: bold
				font-size: 16px
	.comments, .updates, .more, .reward
		display: block
		padding: 10px 5px 10px 10px
		border-bottom: 1px solid #e9e9ec
		font-size: 14px	
		color: $blue-two
		#comment_count, #update_count
			margin-right: 5px
			width: 25px
			height: 17px
			background-color: #C0C0C0
			border-radius: 10px
			color: #fff
			float: right
			text-align: center
			font-size: 13px
		#title
			font-weight: bold
			margin-bottom: 5px
			float: left
			color: #000
		#amount
			color: #76CC1E
			margin-bottom: 5px
			font-size: 12px
			font-weight: bold
			clear: left
		#remaining
			font-size: 12px
			float: right
			color: #000
		#description, #days
			font-size: 12px
			margin-bottom: 5px
		&:last-of-type
			border-bottom: none
	