.menu
	-webkit-transform: translate3d(-15.625em, 0, 0)
	transform: translate3d(-15.625em, 0, 0)
	-webkit-transition: all .5s ease
	transition: all 1s ease
	background: #101820
.navpush
	-webkit-transform: translate3d(0, 0, 0)
	transform: translate3d(0, 0, 0)
	-webkit-transition: all .5s ease
	transition: all 1s ease
.push
	-webkit-transform: translate3d(0, 0, 0)
	transform: translate3d(0, 0, 0)
	-webkit-transition: all .5s ease
	transition: all 1s ease
.containerpush
	-webkit-transform: translate3d(15.625em, 0, 0)
	transform: translate3d(15.625em, 0, 0)
	-webkit-transition: all .5s ease
	transition: all 1s ease