.menu
	font-family: Helvetica Neue, Helvetica, Arial, sans-
	font-weight: bold
	-webkit-transform: translate3d(-15.625em, 0, 0)
	transform: translate3d(-15.625em, 0, 0)
	-webkit-transition: all .4s ease
	-webkit-backface-visibility: hidden
	transition: all .4s ease
	background: #101820
	position: fixed
	top: 0
	bottom: 0
	width: 15.625em
	height: 100%
	.profile_image
		height: 60px
		img
			border: 1px #333333
			box-shadow: rgba(black, 0.3) 1px 1px 2px
			border-radius: 20px
			position: relative
			float: left
			margin-top: 10px
			margin-left: 15px
		#name
			overflow: hidden
			margin: 17.5px 0px 0px 15px
			float: left
			a
				text-decoration: none
				color: #fff
				font-size: 20px
	ul
		li
			border-bottom: 1px solid #263442
			list-style-type: none
			&:first-of-type
				border-top: 1px solid #263442
			margin-left: 15px
			padding: 10px 0px 10px 10px
			a
				text-decoration: none
				color: #fff
				font-size: 20px
	.logo
		width: 60px
		margin: 20px auto

.navpush
	-webkit-transform: translate3d(0, 0, 0)
	transform: translate3d(0, 0, 0)
	-webkit-transition: all .4s ease
	transition: all .4s ease
.push
	-webkit-transform: translate3d(0, 0, 0)
	transform: translate3d(0, 0, 0)
	-webkit-transition: all .4s ease
	-webkit-backface-visibility: hidden
	transition: all .4s ease
.containerpush
	-webkit-transform: translate3d(15.625em, 0, 0)
	transform: translate3d(15.625em, 0, 0)
	-webkit-transition: all .4s ease
	transition: all .4s ease
	overflow: hidden
.menu-link
	ul
		float: left
		margin-top: 18px
		margin-left: 5px
		li
			background: #101820
			height: 6px
			width: 25px
			margin-bottom: 2px
			list-style-type: none