nav.menu
	ul
		li test1
		li test2
javascript:
	var menu = $('.menu');
	var push = $('.push');

    var positionOffScreen = {
      'position': 'fixed',
      'top': '0',
      'bottom': '0',
      'width': '15.625em',
      'height': '100%'
    };

    menu.css(positionOffScreen);

