nav#menu.panel role="navigation"
	ul
		li test
		li test2
		li test3
javascript:
    $(document).ready(function() {
        $('.menu-link').bigSlide();
    });
sass:
	.panel
	    position: fixed
	    left: -15.625em
	    width: 15.625em
	    background: #101820