- backer = @notification.backer
|Project: #{backer.project.name}
br/
|Backer ID: #{backer.key}
br/
|Payment method ID: #{backer.payment_id}
br/
br/
|We have just received a cancellation notification for this backer after having received a confirmation notification.
br/
|Please verify with the payment method's site what the status of the back is and get back to us.

