- backer = @notification.backer
|Dear <strong>#{backer.user.display_name}</strong>,
br
br
|Your back on #{link_to(backer.project.name, project_by_slug_url(permalink: backer.project.permalink))} has been confirmed by <strong>#{backer.payment_method}</strong>
|!
br
br
|Please keep this email as confirmation of your back.
br
br
|Please note that #{backer.payment_method} is the company name that will appear on your bank statement.
br
br
|Amount Backed: <strong>#{number_to_currency(backer.value, unit: backer.project.currency_symbol)}</strong>
br
-if backer.reward
  |Reward: <strong>#{backer.reward.description}</strong>
-else
  |Reward: <strong>No reward chosen</strong>
br
|Backer ID: #{backer.key}
br
br
|The project owner will contact you soon after <strong>#{backer.project.expires_at.strftime("%d/%m/%Y")}</strong>. Please take note that it may take up to a week for the project owner to collect the data on all backers.
br
br
|As #{Configuration[:company_name]} is a take-it-all crowdfunding platform, if the project doesn't reach its goal, your back will still be registered but it will be up to the owner how they will raise the rest of the money needed.
br
br
|If you need to contact #{backer.project.user.name}, please send an email to #{mail_to backer.project.user.email}.
br
br
|If you have any other questions, access our #{link_to('FAQ', "#{Configuration[:base_url]}/faq")} or send an email to #{mail_to Configuration[:email_contact]}
br
br
br
|The #{Configuration[:company_name]} team
