- project = @notification.project
| Dear #{project.user.display_name},
br
br
| Another project has been created on #{Configuration[:company_name]}.
== " By #{link_to project.user.name, user_url(project.user)}"
br
== "Email: #{mail_to project.user.email}"
br
br
| Project details:
br
br
b Name:
= " #{project.name}"
br
b Goal:
= " #{project.display_goal}"
br
br
= link_to 'More about this project.', project_by_slug_url(permalink: project.permalink)

