- project = @notification.project
|Dear #{project.user.name},
br
|Your project was partially funded at #{Configuration[:company_name]}.
br
br
|As #{Configuration[:company_name]} is a take-it-all crowdfunding platform, you have received all the money that was raised regardless. It is now up to you raise the remaining money you need in order to finish your project. Please remember that you committed to providing these rewards to your backers, don't let them down!
br
br
|You can download a spreadsheet of all the backers' details from the reports tab on your project page. This will give you the address of all backers and the rewards they chose in order for you to send them further information.
br
br
|Please open your accounts and verify that all the money is there. Don't forget that we charge an application fee of #{Configuration[:catarse_fee].to_f * 100}%.
br
br
br
|The #{Configuration[:company_name]} team
