- backer = @notification.backer
- project = backer.project

|Dear <strong>#{project.user.display_name}</strong>,
br
br
|The user #{link_to backer.user.display_name, user_url(backer.user)} has just backed your project! 
br
br
|Backer information:
br
br
|<strong>Back amount:</strong> #{backer.display_value}
br
br
- if backer.reward
	|<strong>Reward:</strong> #{backer.reward.display_description}
	br
	br
|<strong>Email:</strong> #{backer.user.email}
br
br
|View all backers of you project here: #{link_to project_by_slug_url(permalink: project.permalink, anchor: 'backers'), project_by_slug_url(permalink: project.permalink, anchor: 'backers')}
br
br
|Communicate with your backers, by sending them an update here: #{link_to project_by_slug_url(permalink: project.permalink, anchor: 'updates'), project_by_slug_url(permalink: project.permalink, anchor: 'updates')}
br
br
|Download the reports of backer data here: #{link_to project_by_slug_url(permalink: project.permalink, anchor: 'reports'), project_by_slug_url(permalink: project.permalink, anchor: 'reports')}
br
br
br
|The #{Configuration[:company_name]} team
