- user = @notification.user
| Dear #{user.name},
br
br
|Unfortunately your project did not meet the requirements for approval at #{Configuration[:company_name]}. This is an automatic email and you may receive another email from our team detailing the exact reason why your project was rejected.
br
br
|You are welcome and we encourage you to resubmit your application on our site. Please read carefully the guidelines provided when starting a project and any information we may have sent you regarding your project. Following the guidlines is the key to a successful project.
br
br
|If you believe that we have wrongly rejected your application, please #{ mail_to Configuration[:email_contact], "send us an email"}.
br
br
br
|The #{Configuration[:company_name]} team
