- project = @notification.project
|Dear #{project.user.name},
br
|Your project was succesfully funded at #{Configuration[:company_name]}!
br
br
|You can download a spreadsheet of all the backers' details from the reports tab on your project page. This will give you the address of all backers and the rewards they chose in order for you to send them further information.
br
br
|Please open your accounts and verify that all the money is there. Don't forget that we charge an application fee of #{Configuration[:catarse_fee] * 100}%.
br
br
br
|The #{Configuration[:company_name]} team
