- user = @notification.user
|Dear #{user.name},
br
br
|Thank you for choosing #{Configuration[:company_name]} to crowdfund your project!
br
br
|Our team has received your project and we will be reviewing it soon. Please allow up to a week for us to give you a final decision. We may send you emails asking you for further details which you can provide us by editing your project on the draft page.
br
br
|If you have any questions, please don't hesitate to contact us on: #{mail_to Configuration[:email_contact]}
br
br
br
|The #{Configuration[:company_name]} team
