- project = @notification.project
|Dear #{project.user.display_name},
br
br
|Your project is now online at #{Configuration[:company_name]}! You can now start accepting backs so start spreading the news.
br
br
|The <strong>update</strong> tab on your project page allows you to communicate with anyone who views your project and, seperately, your backers.
br
|Make sure to regularly download reports from the <strong>report</strong> tab in order to get an idea of who is backing your project.
br
|The edit tab allows you to change certain parts of your project. Other properties are locked. If you want to change these parts, please #{mail_to Configuration[:email_contact], "send us an email"} requesting the change.
br
br
= link_to(project.name, project_by_slug_url(project.permalink))
br
br
br
|Equipe do #{Configuration[:company_name]}
